@charset "utf-8";

/* -------------------------------------------
   common setting
   ------------------------------------------- */
a {
    text-decoration: none;
    color: #444;
}
a:hover {
    color: #888;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#wrap {
    margin: 0 10px;
    height: 100vh;
}
.notice {
    color: green;
    margin-bottom: 10px;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* ----------------------------------------------
   header
   ---------------------------------------------- */
header h1 {
    padding: 20px 0 0 0;
    margin: 0 auto;
    font-size: 1.2em;
    width: 140px;
}
.loginId {
    position: absolute;
    top: 20px;
    left: 20px;
}

/* ------------------------------------------------
   article
   ------------------------------------------------ */
article {
    padding-bottom: 40px;
}

/* -----------------------------------------------
   footer
   ----------------------------------------------- */
footer {
    position: fixed;
    bottom: 0;
}

/* ----------------------------------------------
   form 
   ---------------------------------------------- */
.input-box {
    height: 40px;;
    width: 95%;
    border-width: 2px;
    margin: 2px 0 10px 0;
}
input[type="submit"] {
    display: inline-block;
    height: 45px;
    min-width: 55px;
}

.singleBtn {
    float: right;
    margin-right: 20px;
}

/* -------------------------------------------------
   nav
   ------------------------------------------------- */
li {
    border: solid 1px #aaa;
    margin: 0 0 10px 0;
    box-shadow: 1px 1px 1px #aaa;
    border-radius: 5px;
}
li a {
    display: block;
    padding: 15px 10px;
}

/* ---------------------------------------------------
   errorMsg
   --------------------------------------------------- */
.errorMsg li {
    border: none;
    box-shadow: none;
}

/* ------------------------------------------------
   Search with keyword
   ------------------------------------------------ */
.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
}

select {
    height: 45px;
}
.item {
    border-top: solid 2px #aaa;
    padding-top: 10px;
    margin-bottom: 20px;
}
.item:first-child {
    margin-top: 20px;
}
.item img {
    max-width: 100%;
}
.item .watchBtn button {
    height: 45px;
}

/* -----------------------------------------------
   Search with asin
   ----------------------------------------------- */
.asin-box {
    width: 70%;
}
.asin-box input {
    max-width: 100%;
    height: 40px;
}

/* -------------------------------------------
   watchList
   ------------------------------------------- */
.watchList .row,
.watchList .head,
.watchList .title {
    margin-bottom: 2px;
}
.watchList .row {
    justify-content: flex-start;
}
.watchList .head {
    width: 50%;
}
.watchList button {
    width: 100%;
}

/* --------------------------------------------
   Setting Acount
   -------------------------------------------- */
.now-setting {
    margin-bottom: 10px;
}
.now-setting h2 {
    font-size: 1em;
}
.now-setting div {
    margin-bottom: 5px;
}
.now-setting .head {
    font-size: 0.8em;
    margin-right: 10px;
}

/* -------------------------------------------
   setting
   ------------------------------------------- */
.setting h2 {
    font-size: 1em;
}
.setting .head {
    margin-bottom: 2px;
    font-size: 0.8em;
}
.address {
    text-align: right;
    margin-bottom: 5px;
    border: solid 1px #aaa;
    padding: 2px;
}

/* ----------------------------------------------
   showItem  価格の推移
   ---------------------------------------------- */
.showItem-header * {
    margin: 0;
    padding: 0;
}
.showItem-header {
    margin-bottom: 10px;
}
.showItem-header h1 {
    font-size: 1em;
}
.showItem-header h2 {
    font-size: 1.2em;
}

.cssgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(56px, 1fr));
    grid-auto-rows: 1fr;
}
.row-head {
    font-size: 0.8em;
}
.row-head .yen {
    font-size: 0.8em;
}
.row-item .date {
    font-size: 0.8em;
}




/*---------------------------------------------
  Hamburger Nav
  ---------------------------------------------*/
.hamburger-nav {
  margin-top: 1.5em;
  width: 30px;
  text-align: right;
}

.nav-list {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 60px 0 30px;
  background: rgba(0, 0, 0, 0.95);
  text-align: center;
}
.nav-list > li a {
  display: block;
  text-decoration: none;
  color: white;
}
.nav-list.open {
  display: block;
  z-index: 1;
  animation: showAni .5s ease 0s 1 normal;
}
@keyframes showAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.nav-list.close {
  display: block;
  opacity: 0;
  animation: hideAni .5s ease 0s 1 normal;
}
@keyframes hideAni {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.nav-toggle-button {
    position: fixed;
    z-index: 2;
    cursor: pointer;
    right: 20px;
}
.nav-toggle-button.close::before, .nav-toggle-button.open::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 2em;
}
.nav-toggle-button.close::before {
  content: '\f0c9';
}
.nav-toggle-button.open::before {
  content: '\f00d';
}
